{% extends 'Administrator/admindashboard.html' %}

{% block bootstrapContent %}
<body>


    <button onclick="location.href = 'run_UAT_process/?action=Launch';" type="button" class="btn btn-primary">Launch Instances</button>
    <button onclick="location.href = 'run_UAT_process/?action=Associate';" type="button" class="btn btn-primary">Reboot Instances</button>
    <button onclick="location.href = 'run_UAT_process/?action=Stop';" type="button" class="btn btn-primary">Stop Instances</button>
    <button onclick="location.href = 'run_UAT_process/?action=Start';" type="button" class="btn btn-primary">Start Instances</button>
    <button onclick="location.href = 'run_UAT_process/?action=Terminate';" type="button" class="btn btn-primary">Terminate instances</button>    <div class="col-md-8"><h1>Course/Faculty Setup</h1></div>

    <form action="{% url 'TMmod:modSu' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        </br>
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-8">
            <label class="control-label" for="date"> Term Start Date:</label>
                <input class="form-control" id="start_date" name="start_date" placeholder="YYYY-MM-DD" type="date"/>
            </br>
            <label class="control-label" for="date"> Term End Date:</label>
                <input class="form-control" id="end_date" name="end_date" placeholder="YYYY-MM-DD" type="date"/>
            </br>
            <label for="name" class="control-label">File: </label>
                <input type="file" name="file" id="file" required="True" class="form-control">
                <input type="checkbox" name="action" id="action" value="True"> Clear Database<br>
            </br>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button class="btn btn-primary"> <span style="margin-right:5px;"></span>Upload</button>
            </div>
        </div>
    </form>
</body>
{% if error %}<div class='imp_message'>{{ error }}</div>{% endif %}
{% if message %}<div class='imp_message'>{{ message }}</div>{% endif %}

{% endblock %}
