{% load staticfiles %} <!-- to load the css -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Cloud Learning Environment</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

    <body>
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content">
                    <div class="col-12 user-img">
                        <img src="{% static 'css/img/face.png' %} ">
                    </div>

                    <form action="{% url 'Amod:login' %}" method="POST" enctype="multipart/form-data" class="col-12">
                        {% csrf_token %} <!-- required for form submission-->

                        <div class="form-group">
                            <input type="text" name="username" id="username" required="True" class="form-control" placeholder="Enter Username">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="password" required="True" class="form-control" placeholder="Enter Password">
                        </div>

                        <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login</button>
                    </form>

                    {% if error %}<div class='imp_message'>{{ error }}</div>{% endif %}  <!-- if error msg-->

                    <div class="col-12 forgot">
                        <a href="#">Forgot Password?</a>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                            <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Login</button>
                        </div>
                    </div><!---end of modal content-->
                </div>
            </div>
        </div>
    </body>
</html>
