{% extends 'Module_TeamManagement/dashboardbase.html' %}

{% block title %}
Instructor page
{% endblock %}

{% block sidenavBar %}
<li class="nav-item {{ home_page }}">
    <a class="nav-link" href="{% url 'TMmod:instHome' %}">
        <i class="fas fa-chart-pie"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item {{ inst_profile }}">
    <a class="nav-link" href="{% url 'TMmod:instProfile' %}">
        <i class="fas fa-user-tie"></i>
        <p>User Profile</p>
    </a>
</li>
<li class="nav-item {{ team_list }}">
    <a class="nav-link" href="{% url 'TMmod:instOverview' %}?email=sample.instructor.1@smu.edu.sg">
        <i class="fa fa-users"></i>
        <p>Student Management</p>
    </a>
</li>
<li class="nav-item {{ upload_csv }}">
  <a class="nav-link" href="{% url 'TMmod:uploadcsv' %}">
    <i class="fas fa-upload"></i>
    <p>Bootstrap</p>
  </a>
</li>
{% endblock %}
