{% extends 'Module_TeamManagement/dashboardbase.html' %}

{% block title %}
Instructor page
{% endblock %}

{% block sideuserprofile %}
<div class="col-md-12">
    <div class="cardsidebar card-user">
        <div class="card-image">
        </div>
            <div class="author">
                <img class="avatar border-gray" src="{{ request.session.user_picture }}" alt="...">
                <h5 class="title">{{ request.session.user_name }}</h5>
                <p class="description">Faculty</p>
            </div>
        <hr>
    </div>
</div>
{% endblock %}

{% block sidenavBar %}
<li class="nav-item {{ home_page }}">
    <a class="nav-link" href="{% url 'TMmod:instHome' %}">
        <i class="fas fa-chart-pie"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item {{ team_list }}">
    <div class="dropdown dropright">
      <a class="nav-link dropdown-toggle" href ="#" data-toggle="dropdown">
          <i class="fas fa-chalkboard-teacher"></i>
          <p>Student Mgmt</p>
      </a>
  <div class="dropdown-menu">
      {% for course_title,course_sectionList in request.session.courseList_updated.items %}
            <a class="nav-link dropdown-item" href="{% url 'TMmod:instOverview' %}?module={{ course_sectionList.0.id }}&course_title={{ course_title }}&section_number={{ course_sectionList.0.section_number }}">
                <p class="col-md-3 col-sm-3 col-xs-12 control-label">{{ course_title }}</p>
            </a>
      {% endfor %}
  </div>
  </div>
</li>
  <li class="nav-item {{ configureDB_course }}">
        <a class="nav-link" href="{% url 'TMmod:uploadcsv' %}">
          <i class="fas fa-chalkboard-teacher"></i>
          <p>Course Mgmt</p>
      </a>
  </li>
{% endblock %}
