{% extends 'Module_TeamManagement/Instructor/instructorBase.html' %}
{% load staticfiles %}

{% block title %}
    My Stats
{% endblock %}

{% block facultyHome %}
<div class="content">
    <div class="container-fluid">
      <!-- classes, sections, students -->
      <div class="row">
          <div class="col-md-12">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info massive-font" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{ past_weeks }}</div>
              </div>
          </div>
      </div>
      <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-header">
                <div class="float-left mt-10 d-none d-sm-block">
                    <img src="{% static 'images/icons8-course-64.png' %}">
                </div>
                  <h2 align="center" class="card-title">Courses</h2>
                    <h2 align="center">{{course_count}}</h2>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="card-header">
                <div class="float-left mt-10 d-none d-sm-block">
                    <img src="{% static 'images/icons8-study-64.png' %}">
                </div>
                  <h2 align="center" class="card-title">Sections</h2>
                    <h2 align="center">{{section_count}}</h2>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="card-header">
                <div class="float-left mt-10 d-none d-sm-block">
                    <img src="{% static 'images/icons8-students-64.png' %}">
                </div>
                  <h2 align="center" class="card-title">Students</h2>
                    <h2 align="center">{{student_count}}</h2>
              </div>
          </div>
      </div>
        </div>
      <!-- end of classes, sections, students -->

            <!--Class One Card-->
            <div class="row">
              {% for course, courseDetails in course_list.items %}
                <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title bg-dark text-white" align="center">{{course}}</h1>
                    </div>
                    <br>

                    <!--inner card row one-->
                    <div class="col-md-12 row">
                        <div class="col-md-3">
                            <div class="card h-75">
                                <div class="card-header">
                                    <h3 align="center" class="card-title">Students</h3>
                                    <h3 align="center">{{courseDetails.count}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card h-75">
                                <div class="card-header">
                                    <h3 align="center" class="card-title">Sections</h3>
                                    <h3 align="center">{{courseDetails.sectionCount}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                              <div class="card h-75">
                                  <div class="card-header">
                                      <h3 align="center" class="card-title">Tools used</h3>
                                  </div>
                                      <br>
                                      <div class="col-md-12 row">
                                          {% for toolImage in courseDetails.toolImage_list %}
                                              {% with 'images/'|add:toolImage|add:" Logo.png" as toolLink %}
                                              <div class="col-md-4" align="center">
                                                  <img src="{% static toolLink %}" class="rounded-circle">
                                              </div>
                                              {% endwith %}
                                          {% endfor %}

                                          <div class="col-md-4">
                                              <center>
                                              <a href="{% url 'TMmod:uploadtools' %}?user=faculty"><img id="addmore" src="https://image.flaticon.com/icons/png/512/16/16909.png" alt="..." class="rounded-circle add"></a>
                                              </center>
                                              <h6 align = "center">Add Tools</h6>
                                          </div>
                                      </div>
                                  <br>
                              </div>
                        </div>
                    </div>

                    <!--inner card row three-->
                    {% if 'Telegram' in courseDetails.toolImage_list %}
                        <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="card ">
                                    <div class="card-header">
                                        <h5 align="center" class="card-title">Telegram Status</h5>
                                        <span align = "center">
                                            <br>
                                            <center>
                                                <!-- <img src = "{% static 'images/Telegram Logo.png' %}" class="rounded-circle"> -->
                                                {% for course_section,telegram_details in telegram_data.items %}
                                                    <h4><b>{{telegram_details.registered_count}}/{{telegram_details.total_count}}</b></h4>
                                                    <h5>Registered for <b>{{course_section}}</b></h5>
                                                {% endfor %}
                                                <button type="button" class="btn btn-sm btn-primary">Send reminder</button>
                                            </center>
                                            <br>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endif %}
                    <!--end of inner card row three-->

                    <div class="col-md-12 row">
                      <div class="col-md-4">
                          <div class="card">
                              <div class="card-header">
                                      <h5 align="center" class="card-title">Section Information</h5>
                                  <p class="card-category" align="center">Key Indicators</p>
                              </div>
                              <div class="card-body">
                                  <span align="center">

                                       {% include "Module_TeamManagement/Dashboard/courses_linechart.html" %}
                                  </span>
                              </div>
                              <div class="card-footer ">
                                  <div class="stats">

                                      <i class="fa fa-history"></i> Updated "{{last_updated}}"
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="card">
                              <div class="card-header">
                                  <h4 class="card-title">Section Ranking</h4>
                                  <p class="card-category">Tracking Section Performances</p>
                              </div>
                              <div class="card-body">
                                  {% include "Module_TeamManagement/Dashboard/courses_radarchart.html" %}
                              </div>
                              <div class="card-footer ">
                                  <div class="stats">
                                      <i class="fa fa-history"></i> Updated "{{last_updated}}"
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
var delay = 500;
$(".progress-bar").each(function(i){
    $(this).delay( delay*i ).animate( { width: $(this).attr('aria-valuenow') + '%' }, delay );

    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: delay,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now)+'/16 Weeks');
        }
    });
});
</script>

{% endblock %}
