{% extends 'Module_TeamManagement/Instructor/instructorBase.html' %}
{% load staticfiles %}
{% load charts_extra %} <!-- django filter from charts_extra-->
{% block classList %}



<div class="content">
  <div class="container-fluid">
    <p> <br> </p>
    <h1> Student Management for {{ course_title }}</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    <h4 align="center" class="card-title">Section</h4>
                        {% if section_number == 'G0' %}
                            <h1 align="center">None</h1>
                        {% else %}
                            <h1 align="center">{{ section_number }}</h1>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    <h4 align="center" class="card-title">Teams</h4>
                        <h1 align="center">{{ CourseTrailResults.class.Teams_Information | length }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    <h4 align="center" class="card-title">Students</h4>
                        <h1 align="center">{{ CourseTrailResults.class.Students_Information.students | length }}</h1>
                </div>
            </div>
        </div>
    </div>

      <div class="navDiv">
        {% for course_section in course_sectionList %}
            {% if course_section.section_number != 'G0' %}
        <a href="/instructor/overview/?module={{ course_section.id }}&course_title={{ course_section.course_title }}&section_number={{ course_section.section_number}}" role="button" class="btn btn-primary">{{ course_section.section_number }}</a>
            {% endif %}
        {% endfor %}
      </div>

    <div class="content">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Class Overview</h4>
                            </div>
                            <!-- Insert refresh button here-->
                            <div class="navDiv">
                                <a href="/celery/trailhead/refresh" role="button" class="btn btn-primary">Refresh score now</a>
                            </div>
                            <br>
                             <!--inner card one-->
                            <div class="col-md-12 row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 align="center" class="card-title">Team Ranking</h5>
                                            <p class="card-category" align="center">24 Hours performance</p>
                                        </div>
                                        <div class="card-body">
                                                <span align="center">
                                                        {% include "Module_TeamManagement/Dashboard/class_scoreboard.html" %}
                                                </span>
                                            </div>
                                        <div class="card-footer ">
                                            <div class="stats">
                                                <i class="fa fa-history"></i> Last Updated at "{{last_updated}}"
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                          <h4 align="center" class="card-title">Trailhead performance</h4>
                                          <p align="center" class="card-category">Points against Badges</p>
                                        </div>

                                        <div class="card-body">
                                            {% include "Module_TeamManagement/Dashboard/class_line_chart.html" %}
                                        </div>
                                        <div class="card-footer ">
                                            <div class="stats">
                                                <i class="fa fa-history"></i> Updated "{{last_updated}}"
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                  </div>
                </div>
              </div>
      </div>
<br>

{% include "Module_TeamManagement/Datatables/instructorTableview.html" %}


</div>
</div>

<script>
// Add active class to the current button (highlight it)
$(function(){
       pageUrl = location.href;
       // console.log(pageUrl)
       $('.navDiv a').each(function () {
            link = $(this);
            var href = link.attr("href");
            console.log(link);
            // console.log(link.attr("href") === pageUrl);
            if (href === pageUrl.substring(pageUrl.length-href.length)) {
              console.log("success");
                link.addClass("active");
            }
       });
   });
</script>

{% endblock %}
