{% extends 'Module_TeamManagement/Instructor/instructorBase.html' %}

{% block classList %}
{{ G1 }}
    <div class="imp_message container">
      <p> <br> </p>
      <h1> Student Managment </h1>
    <table class="table table-striped table-bordered table-hover" id="studentdata">
      <thead>
          <tr>
            <th>Section no.</th>
            <th>Team no.</th>
            <th>Email</th>
            <th>First name</th>
          </tr>
      </thead>
      <tbody>
        {% for sections in results %}
          <!-- {% for teams in results.sections %}
            {% for students in teams %} -->
              <tr>
                  <td> {{ sections }}</td>
                  <td> {{ results.sections }}</td>
                  <td> {{ students }}</td>
                  <td> {{ team.student.firstname }}</td>
              </tr>
            <!-- {% endfor %}
          {% endfor %} -->
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Section no.</th>
          <th>Team no.</th>
          <th>Email</th>
          <th>First name</th>
        </tr>
      </tfoot>
    </table>
    </div>

{% endblock %}
