{% extends 'Module_TeamManagement/Instructor/instructorBase.html' %}
{% load staticfiles %}

{% block title %}
    My Stats
{% endblock %}

{% block facultyHome %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
        <div class="card col-md-12">
          <img class="card-img-top" src="{% static 'images/Dashboard_home.png' %}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Dashboard</h4>
            <p class="card-text">Overview of students and teams. Provides statistics of students' progression.</p>
            <div class="text-center">
              <button onclick="location.href = '/instructor/overview/*';" type="button" class="btn btn-primary">Dashboard</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
      <div class="card col-md-12">
        <img class="card-img-top" src="{% static 'images/Student_home.png' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Student Management</h4>
          <p class="card-text">View different sections from different courses. Contains students' invidual data.</p>
          <div class="text-center">
            <button onclick="location.href = '/instructor/overview/';" type="button" class="btn btn-primary">Student Mgmt</button>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-4">
      <div class="card col-md-12">
        <img class="card-img-top" src="{% static 'images/Courses_home.png' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Course Management</h4>
          <p class="card-text">To setup courses based on enrolled student list, student teams and cloud learning tools. </p>
          <div class="text-center">
            <button onclick="location.href = '/instructor/configStudents/';" type="button" class="btn btn-primary">Course Mgmt</button>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-4">
      <div class="card col-md-12">
        <img class="card-img-top" src="{% static 'images/ITops_home.png' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">IT Operations Lab</h4>
          <p class="card-text">Monitoring of students' IT infrastructure and applications, sending of events.</p>
          <div class="text-center">
            <button onclick="location.href = '#';" type="button" class="btn btn-primary">IT Ops Lab</button>
          </div>
        </div>
      </div>
    </div>
        </div>
    </div>
</div>

{% endblock %}
