{% load staticfiles %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/itopsevent.css' %}">

</head>

<body>
   <!-- MultiStep Form -->
   <div class="col-md-12 row">
        <div class="col-md-9 col-md-offset-3" style="display: block;margin-left: auto;margin-right: auto;">
            <form id="msform" action="{% url 'ECmod:itopslab_event_execute' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <!-- progressbar -->
                <ul id="progressbar">
                    <!-- <li class="active">Number of Events</li> -->
                    <li class="active">Select class</li>
                    <li>Choose Event</li>
                    <li>Choose Date/Time</li>
                    <li>Summary</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    <!-- <h2 class="fs-title">Number of Events</h2>
                    <h3 class="fs-subtitle">(Up to 3 events concurrently only)</h3>
                    <div class="plusminus">
                        <div class="col-md-6" style="display: block;margin-left: auto;margin-right: auto; ">
                            <button></button>
                            <input type="number" name="eventQty" min="1" max="3" value="1" id="numEvents">
                            <button></button>
                      </div>
                      <hr>
                    </div>
                    <input type="button"  name="next" class="next action-button" value="Next" onclick="storeNumEvents();" /> -->

                    <h2 class="fs-title">Select Class</h2>
                    <h3 class="fs-subtitle">Please select class(es) to configure an event for</h3>
                    {% for course_section in course_sectionList %}
                        {% if course_section.section_number != 'G0' %}
                            <div class="custom-control custom-checkbox custom-control-inline mb-5 section-class">
                                    <input class="custom-control-input" type="checkbox" name="section_number" id={{course_section.id}} value={{course_section.section_number}}>
                                    <label class="custom-control-label" for={{course_section.id}}>{{course_section.section_number}}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="custom-control custom-checkbox custom-control-inline mb-5">
                            <input class="custom-control-input" type="checkbox" id="checkAll">
                            <label class="custom-control-label" for="checkAll">All classes</label>
                    </div>


                    <hr>
                    <input type="button"  name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Choose Event and Server Type</h2>
                    <h3 class="fs-subtitle">Please select event(s) to configure</h3>
                    <div class="col-md-6"  style="display: block;margin-left: auto;margin-right: auto; ">
                        <select class="form-control" id="event_type" name="event_type">
                            <option value="" disabled selected>Select event type</option>
                            <option value="stop">Stop Server</option>
                            <option value="stopapp">Stop Web App</option>
                            <option value="ddos">Send DoS Attack</option>
                        </select>
                    </div>
                    <br>
                    <div class="col-md-6"  style="display: block;margin-left: auto;margin-right: auto; ">
                        <select class="form-control" id="server_type" name="server_type">
                            <option value="" disabled selected>Select server type</option>
                            <option value="Parent">Parent</option>
                            <option value="Slave">Slave</option>
                        </select>
                    </div>
                    <!-- <input type="text" name="twitter" placeholder="Twitter"/>
                    <input type="text" name="facebook" placeholder="Facebook"/>
                    <input type="text" name="gplus" placeholder="Google Plus"/> -->
                    <br><br><br><br><hr>
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="next" id="event_next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Choose Date/Time</h2>
                    <h3 class="fs-subtitle">When do you want to launch your event?</h3>

                    <input type="datetime-local" id="setDate" name="setDate" placeholder="Date Time" onkeyup="stoppedTyping()"/>
                    <span class="validity" id="validity"></span>
                    <br><br>
                    <input class="custom-control-input" type="checkbox" name="datetime" id="dateNow" value="now" onclick="setDateTimeNow();">
                    <label class="custom-control-label" for="dateNow">Now</label>
                    <hr>
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="next" id="datetime_next" class="next action-button" value="Next" onclick="getSummary();"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Summary</h2>
                    <h3 class="fs-subtitle">Please ensure the event details are accurate</h3>
                    <div class="summary-class"> </div>
                    <div class="summary-eventtype"></div>
                    <div class="summary-servertype"></div>
                    <div class="summary-datetime"></div>

                    <hr>
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="submit" name="submit" id="submit" class="submit action-button" value="Submit"/>
                    <input type="hidden" name="course_title" id="course_title" value={{course_title}}>
                    <!-- Information Sent to backend here: Class, Event Type, Date/Time -->
                </fieldset>
            </form>
        </div>
    </div>
    <!-- /.MultiStep Form -->

    <script src="{% static 'js/multistepform.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" type="text/javascript"></script>
    <script>

        window.addEventListener('load', function () {
            var now = new Date();
            let today = [
                    [now.getFullYear(),
                    AddZero(now.getMonth() + 1),
                    AddZero(now.getDate())].join("-"),
                [AddZero(now.getHours()),
                AddZero(now.getMinutes())].join(":")].join("T");
            document.getElementById("setDate").setAttribute("min",today);
        }, false);


        $(function(){
            var nextStatus = document.getElementById("setDate").checkValidity();
            if (document.getElementById("setDate").value=="" || nextStatus==false){
                document.getElementById("datetime_next").disabled = true;
            }
        });

        function stoppedTyping(){
            var nextStatus = document.getElementById("setDate").checkValidity();
            if(document.getElementById("setDate").value=="" || nextStatus==false) {
                document.getElementById('datetime_next').disabled = true;
            } else {
                document.getElementById('datetime_next').disabled = false;
            }
        }

    var isNow = false;

    function getSummary() {
        var class_names = [];
        for (i=0; i<document.getElementsByName("section_number").length;i++){
            class_names.push(document.getElementsByName("section_number")[i].id);
        }

        var classes = "";
        if (class_names.length!=1){
            classes+= class_names[0];
        } else {
            for (i=0; i<class_names.length;i++){
                if(document.getElementById(class_names[i]).checked == true && i==class_names.length-1){
                    classes+= class_names[i] + " ";
                } else if(document.getElementById(class_names[i]).checked == true) {
                    classes+= class_names[i] + ", ";
                }

            }
        }


        var event_type = document.getElementById("event_type").value;
        var server_type = document.getElementById("server_type").value;
        var datetime = document.getElementById("setDate").value;
        var errorFound = 0;
        if (classes!=""){
            document.querySelector(".summary-class").innerHTML = "<b>Class(es): </b>" + "<h5>" + classes + "</h5>";
        } else {
            document.querySelector(".summary-class").innerHTML = "<b>Class(es): </b>" + "<h5 class = 'error'>No classes have been specified</h5>";
            errorFound+=1;
        }

        if (event_type == "stop"){
            document.querySelector(".summary-eventtype").innerHTML = "<b>Event Type: </b>" + "<h5>Stop Servers</h5>";
        }
        else if(event_type == "ddos"){
            document.querySelector(".summary-eventtype").innerHTML = "<b>Event Type: </b>" + "<h5>Send DoS Attack on Servers</h5>";
        }
        else if(event_type == "stopapp"){
            document.querySelector(".summary-eventtype").innerHTML = "<b>Event Type: </b>" + "<h5>Stop Web Applications</h5>";
        } else {
            document.querySelector(".summary-eventtype").innerHTML = "<b>Event Type: </b>" +"<h5 class = 'error'>No Event Type has been specified</h5>";
            errorFound+=1;
        }
        if (server_type != ""){
            document.querySelector(".summary-servertype").innerHTML = "<b>Server Type: </b>" + "<h5>" + server_type + "</h5>";
        } else {
            document.querySelector(".summary-servertype").innerHTML = "<b>Server Type: </b>" +"<h5 class = 'error'>No Server Type has been specified</h5>";
            errorFound+=1;
        }
        if (isNow==true){
            document.querySelector(".summary-datetime").innerHTML = "<b>Date Time: </b><h5>NOW</h5>";
        } else {
            document.querySelector(".summary-datetime").innerHTML = "<b>Date Time: </b>" + "<h5>" + datetime.replace('T',' ') + "</h5>";
        }
        if (errorFound==0){
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('submit').disabled = true;
        }

    }

    // function storeCourse(c){
    //     class_names.push(c);
    // }

    function AddZero(num) {
        return (num >= 0 && num < 10) ? "0" + num : num + "";
    }
    function setDateTimeNow(){
        if (document.getElementById("dateNow").value=="now"){
            // let today = new Date().toDateTimeLocal().toISOString().substr(0, 10);
            if (isNow==false){
                var now = new Date();
                let today = [
                    [now.getFullYear(),
                    AddZero(now.getMonth() + 1),
                    AddZero(now.getDate())].join("-"),
                [AddZero(now.getHours()),
                AddZero(now.getMinutes())].join(":")].join("T");
                console.log(today);
                document.querySelector("#setDate").value = today;
                document.getElementById("setDate").setAttribute("readonly","readonly");
                isNow=true;
                document.getElementById('datetime_next').disabled = false;
            } else {
                document.querySelector("#setDate").value="";
                document.getElementById("setDate").removeAttribute("readonly");
                isNow=false;
                document.getElementById('datetime_next').disabled = true;
            }
        }
    }

    $("#checkAll").click(function () {
      $('.section-class input:checkbox').not(this).prop('checked', this.checked);
    });
    </script>
</body>
