{% extends 'Module_TeamManagement/Instructor/instructorBase.html' %}
{% load staticfiles %}

{% block bootstrapContent %}
<head>
    <link rel="stylesheet" href="{% static 'css/itopsevent.css' %}">
  
  </head>

<div class="col-md-12">
        <h1 align="center">IT Operations Lab</h1>
        <img src="{% static 'images/Devops Symbol.png' %}" alt="Devops" width=180px height = 90px style="display: block;margin-left: auto;margin-right: auto;"><br>


        <div class= "redirect">
            <div class="btn-group col-md-8 text-center" style="display: block;margin-left: auto;margin-right: auto;">
              <button onclick="location.href= '{% url 'DMmod:itopslab_setup' %}?course_title={{course_title}}';" type="button" class="btn btn-dark" >Setup</button>
              <button onclick="location.href = '{% url 'DMmod:itopslab_monitor' %}?course_title={{course_title}}&section_number={{first_section}}';" type="button" class="btn btn-dark">Monitor</button>
              <button onclick="location.href = '{% url 'ECmod:itopslab_event' %}?course_title={{course_title}}';" type="button" class="btn btn-dark active">Event Management</button>
            </div>
        </div>

        <hr>
        <div class="itopsheader">EVENT MANAGEMENT</div>
</div>

    {% include 'Module_TeamManagement/Instructor/ITOpsEventForm.html' %}

    {% csrf_token %}



<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

{% endblock %}
