{% extends 'Module_TeamManagement/Instructor/instructorBase.html' %}
{% load staticfiles %}

{% block bootstrapContent %}

<div class="col-md-12">
    <h1 align="center">IT Operations Lab</h1>
    <img src="{% static 'images/Devops Symbol.png' %}" alt="Devops" width=180px height = 90px style="display: block;margin-left: auto;margin-right: auto;"><br>


    <div class= "redirect">
        <div class="btn-group col-md-8 text-center" style="display: block;margin-left: auto;margin-right: auto;">
          <button onclick="location.href= '{% url 'DMmod:itopslab_setup' %}';" type="button" class="btn btn-dark" >Setup</button>
          <button onclick="location.href = '{% url 'DMmod:itopslab_monitor' %}';" type="button" class="btn btn-dark active">Monitor</button>
          <button onclick="location.href = '{% url 'DMmod:itopslab_event' %}';" type="button" class="btn btn-dark">Event Management</button>
        </div>
    </div>

    <hr>
    <h2 align="center"><i>Monitor</i></h2>
</div>
    <ul class="navDiv">
      <!-- to remove once for loop is settled by backend -->
      {% for course_section in course_sectionList %}
          {% if course_section.section_number != 'G0' %}
            <a href="/instructor/overview/?module={{ course_section.id }}&course_title={{ course_section.course_title }}&section_number={{ course_section.section_number}}" role="button" class="btn btn-primary">{{ course_section.section_number }}</a>
          {% endif %}
      {% endfor %}
    </ul>

    <div class="content">
      <div class="container-fluid">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <br>
                <!--inner card one-->
                <div class="col-md-12 row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <h5 align="center" class="card-title">Server Status</h5>
                        <p class="card-category" align="center">24 Hours performance</p>
                      </div>
                      <div class="card-body">
                        <span align="center">
                          {% include "Module_TeamManagement/Datatables/datatables2.html" %}
                        </span>
                      </div>
                      <div class="card-footer ">
                        <div class="stats">
                          <i class="fa fa-history"></i> Last Updated at "{{last_updated}}"
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <h5 align="center" class="card-title">WebApp Status</h5>
                        <p class="card-category" align="center">24 Hours performance</p>
                      </div>
                      <div class="card-body">
                        <span align="center">
                          {% include "Module_TeamManagement/Datatables/datatables.html" %}
                        </span>
                      </div>
                      <div class="card-footer ">
                        <div class="stats">
                          <i class="fa fa-history"></i> Last Updated at "{{last_updated}}"
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 align="center" class="card-title">Deployment</h5>
                        <p class="card-category" align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                      <div class="card-body">
                        <span align="center">

                        </span>
                      </div>
                      <div class="card-footer">
                      </br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script>
// Add active class to the current button (highlight it)
$(function(){
       pageUrl = location.href;
       // console.log(pageUrl)
       $('.navDiv a').each(function () {
            link = $(this);
            var href = link.attr("href");
            console.log(link);
            // console.log(link.attr("href") === pageUrl);
            if (href === pageUrl.substring(pageUrl.length-href.length)) {
              console.log("success");
              console.log();
                link.addClass("active");
            }
       });
   });
</script>

{% endblock %}
