{% extends 'Module_TeamManagement/Instructor/instructorBase.html' %}
{% load staticfiles %}
{% block classList %}

<div class="content">
    <div class="container-fluid">
        <h1 style="text-align: center"> Telegram Management </h1>
        <div class="navDiv text-center" style="display: block;margin-left: auto;margin-right: auto;">
            {% for course_section in course_sectionList %}
                {% if course_section.section_number != 'G0' %}
                <a href="/instructor/TelegramManagement?module={{ course_section.id }}&course_title={{ course_section.course_title }}&section_number={{ course_section.section_number}}" role="button" class="btn btn-dark">{{ course_section.section_number }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        {% if section_number == 'G0' %}
        <h2 style = "background-color:#23272b; color:white; text-align: center">{{ course_title }}</h2>
        {% else %}
        <h2 style = "background-color:#23272b; color:white; text-align: center"> {{ course_title }} {{ section_number }}</h2> 
        {% endif %}
      
  
        
    </div>

    <br>
    <div class="col-md-9" style="display: block;margin-left: auto;margin-right: auto;">
        <div class="card ">
            <div class="card-header" style="display: block;margin-left: auto;margin-right: auto;">
                <img src="{% static 'images/Telegram Logo.png' %}" alt="..." width=150px height = 150px style="display: block;margin-left: auto;margin-right: auto;" >
                <br>
                <div style = "display: block;margin-left: auto;margin-right: auto;"> <h3 align = "center">Oops! <br> You have not configured any groups/channels </h3></div>
                <br>
            </div>
            <div class="card-body" style = "display: block;margin-left: auto;margin-right: auto;">
                    <button type="button" class="btn btn" style="background-color: #0088CC" data-toggle="modal" data-target="#createGroup" id="createGroup" value="createGroup">
                        Create Section Group
                    </button>
                    <button type="button" class="btn btn" style="background-color: #0088CC" data-toggle="modal" data-target="#createChannel" id="createChannel" value="createChannel">
                        Create Section Channel
                    </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Add active class to the current button (highlight it)
    $(function(){
        pageUrl = location.href;
        // console.log(pageUrl)
        $('.navDiv a').each(function () {
            link = $(this);
            var href = link.attr("href");
            console.log(link);
            // console.log(link.attr("href") === pageUrl);
            if (href === pageUrl.substring(pageUrl.length-href.length)) {
                console.log("success");
                link.addClass("active");
            }
        });
    });
</script>
{% endblock %}