{% extends 'base.html' %} 

{% block title %}
    Student page
{% endblock %}


{% block navBar %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'TMmod:home' %}">Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'TMmod:sTeam' %}"> Student Teams </a>
        </li>
        <!-- to be removed [Used for easier management]-->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'TMmod:instuOverview' %}"> Instructor Home
                <span class="sr-only">(current)</span>
            </a>
        </li>

        <li class="nav-item active">
                <a class="nav-link" href="{% url 'Amod:logout' %}"> Logout
                    <span class="sr-only">(current)</span>
                </a>
        </li>

{% endblock %}