{% extends 'Module_TeamManagement/Student/studentBase.html' %}
{% load staticfiles %}

{% block bootstrapContent %}


<div class="col-md-12">
        <h1 align="center">IT Operations Lab</h1>
        <img src="{% static 'images/Devops Symbol.png' %}" alt="Devops" width=180px height = 90px style="display: block;margin-left: auto;margin-right: auto;"><br>

        <div class= "redirect">
            <div class="btn-group col-md-8 text-center" style="display: block;margin-left: auto;margin-right: auto;">
                <button onclick="location.href= '{% url 'DMmod:itopslab_studeploystd' %}';" type="button" class="btn btn-dark active">Deploy</button>
                <button onclick="location.href = '{% url 'DMmod:itopslab_stumonitor' %}';" type="button" class="btn btn-dark">Monitor</button>
            </div>
        </div>

        <hr>
        <h2 align="center"><i>Deploy</i></h2>
        <br>
        <div class= "redirect">
            <div class="btn-group col-md-8 text-center" style="display: block;margin-left: auto;margin-right: auto;">
                <button onclick="location.href= '{% url 'DMmod:itopslab_studeploystd' %}';" type="button" class="btn btn-dark">Standard</button>
                <button onclick="location.href = '{% url 'DMmod:itopslab_studeploy' %}';" type="button" class="btn btn-dark active">Step-By-Step</button>
            </div>
        </div>
</div>
<div class ="col-md-12">
    <div class = "row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <h4 align="center" class="card-title">Set up AWS Account</h4>
                </div>

                <div class="card-body">
                    <span align="center">
                        {% include 'Module_TeamManagement/Instructions/AWScarousel.html' %}
                    </span>
                </div>
                <div class="card-footer ">

            </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <h4 align="center" class="card-title">Launch Server</h4>
                </div>

                <div class="card-body">
                    <span align="center">
                        {% include 'Module_TeamManagement/Instructions/LauchServercarousel.html' %}
                    </span>
                </div>
                <div class="card-footer ">

                </div>
            </div>
        </div>
    </div>


    {% include 'Module_TeamManagement/Student/ITOpsStudentDeployForm.html' %}

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
</div>

{% endblock %}
