{% extends 'Module_TeamManagement/Student/studentBase.html' %}
{% load staticfiles %}

{% block bootstrapContent %}
<div class="col-md-12">
    <h1 align="center">IT Operations Lab</h1>
    <img src="{% static 'images/Devops Symbol.png' %}" alt="Devops" width=180px height = 90px style="display: block;margin-left: auto;margin-right: auto;"><br>
   

    <div class= "redirect">
        <div class="btn-group col-md-8 text-center" style="display: block;margin-left: auto;margin-right: auto;">
            <button onclick="location.href= '{% url 'DMmod:itopslab_studeploy' %}';" type="button" class="btn btn-dark">Deploy</button>
            <button onclick="location.href = '{% url 'DMmod:itopslab_stumonitor' %}';" type="button" class="btn btn-dark active">Monitor</button>
        </div>
    </div>
  
    <hr>
    <h2 align="center"><i>Monitor</i></h2>
</div>

  <div class="content">
    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <br>
              <!--inner card one-->
              <div class="col-md-12 row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">
                      <h5 align="center" class="card-title">Server Status</h5>
                    </div>
                    <div class="card-body">
                      <span align="center">
                         {% for team_name,server_state in server_status.items %}
                            <!--{{ team_name }}-->
                              <p class="card-category" align="center"><img src="{% static 'images/icons8-server-64.png' %}" alt="">
                            {% if server_state == 'Live' %}
                                <span class="badge badge-pill badge-success">{{ server_state }}</span>
                            {% elif server_state == 'Pending' %}
                                <span class="badge badge-pill badge-warning">{{ server_state }}</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">{{ server_state }}</span>
                            {% endif %}
                        {% endfor %}

                      </span>
                    </div>
                    <div class="card-footer ">
                      <div class="stats">
                        <i class="fa fa-history"></i> Last Updated at "{{last_updated}}"
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">
                      <h5 align="center" class="card-title">WebApp Status</h5>
                    </div>
                    <div class="card-body">
                      <span align="center">
                        <p class="card-category" align="center"><img src="{% static 'images/icons8-internet-64.png' %}" alt="">
                        
                        {% for team_name,team_details in webapp_status.items %}
                         {% comment %} {{ team_name }} {% endcomment %}
                            {% if team_details.State  == 'Live' %}
                                <span class="badge badge-pill badge-success">{{ team_details.State  }}</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">{{ team_details.State  }}</span>
                            {% endif %}
                            <a href="http://{{ team_details.IP_Address }}:8000">{{ team_details.IP_Address }}</a>
                            <br>
                        {% endfor %}
                        
                      </span>
                    </div>
                    <div class="card-footer ">
                      <div class="stats">
                        <i class="fa fa-history"></i> Last Updated at "{{last_updated}}"
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h5 align="center" class="card-title">Statistics</h5>
                    </div>
                    <div class="card-body">
                      <span align="center">

                        <div class="row">
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                              <h5 align="center" class="card-title">CPU Usage</h5>
                            </div>
                            <div class="card-body">
                              <span align="center">
                              {% include "Module_TeamManagement/Dashboard/class_scoreboard.html" %}
                              </span>
                            </div>
                            <div class="card-footer ">

                            </div>
                          </div>
                        </div>


                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                              <h5 align="center" class="card-title">Memory Usage</h5>
                            </div>
                            <div class="card-body">
                              <span align="center">
                                {% include "Module_TeamManagement/Dashboard/courses_linechart.html" %}
                              </span>
                            </div>
                            <div class="card-footer">

                            </div>
                          </div>
                        </div>
                      </div>

                      </span>
                    </div>
                    <div class="card-footer ">
                      <div class="stats">
                        <i class="fa fa-history"></i> Last Updated at "{{last_updated}}"
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
