{% extends 'Module_TeamManagement/Student/studentBase.html' %}
{% load staticfiles %}

{% block bootstrapContent %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>


<div class="col-md-12">
        <h1 align="center">IT Operations Lab</h1>
        <img src="{% static 'images/Devops Symbol.png' %}" alt="Devops" width=180px height = 90px style="display: block;margin-left: auto;margin-right: auto;"><br>

        <div class= "redirect">
            <div class="btn-group col-md-8 text-center" style="display: block;margin-left: auto;margin-right: auto;">
                <button onclick="location.href= '{% url 'DMmod:itopslab_studeploy' %}';" type="button" class="btn btn-dark active">Deploy</button>
                <button onclick="location.href = '{% url 'DMmod:itopslab_stumonitor' %}';" type="button" class="btn btn-dark">Monitor</button>
            </div>
        </div>

        <hr>
        <h2 align="center"><i>Deploy</i></h2>
</div>
<div class ="col-md-12">
    <div class = "row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h4 align="center" class="card-title">Instructions</h4>
                </div>

                <div class="card-body">
                    <span align="center">
                      <a data-fancybox data-type="iframe" data-src="https://docs.google.com/document/d/e/2PACX-1vRryEZSP1wLHrlQMkSkJRgJCta4KbrVJNQdXAv4tqbEFjJsVhN6maWO6hTXhZ_3OmmbDrRabUM95Qb5/pub" href="javascript:;"><button type="button" class="btn btn-dark">1. Get Account Number</button></a>
                      <a data-fancybox data-type="iframe" data-src="https://docs.google.com/document/d/e/2PACX-1vT9NBil83AyK1wyQQMbPlj0bgi0JK5vQ0_sQViHFAKaawvswifTfH3PR5yLAgV_r9zLcVmolxkTmWWI/pub" href="javascript:;"><button type="button" class="btn btn-warning">2. Launch Server</button></a>
                      <a data-fancybox data-type="iframe" data-src="https://docs.google.com/document/d/e/2PACX-1vT4ii7WOVWMxObUpTzCgAeI4aoGz_aA_yTEbBjt94hLRDcWgUabY_iCRoFiBeaurhzzHpShR9P-Oepa/pub" href="javascript:;"><button type="button" class="btn btn-dark">3. Connect to Server</button></a>
                      <a data-fancybox data-type="iframe" data-src="https://docs.google.com/document/d/e/2PACX-1vSrPnp1zWCeGekSUBLNu-5S053t0GEGI4b9AaNz_RMemRFUJj2bK748v1SeyktQRtmdtK7xjEyxAuVX/pub" href="javascript:;"><button type="button" class="btn btn-warning">4. Configure AWS details</button></a>
                      <a data-fancybox data-type="iframe" data-src="https://docs.google.com/document/d/e/2PACX-1vSWvrYb-GR2jvh5mLxFyK8BgOwDaNlgzGCVCeDTA1dh6KGrdwxdohWmO9RlS0aqy-k1efD163BAAxuT/pub" href="javascript:;"><button type="button" class="btn btn-dark">5. Assigning Elastic IP</button></a>
                      <a data-fancybox data-type="iframe" data-src="" href="javascript:;"><button type="button" class="btn btn-warning">6. Deploy Web App</button></a>
                    </span>
                </div>
                <div class="card-footer ">

            </div>
            </div>
        </div>
    </div>


    {% include 'Module_TeamManagement/Student/ITOpsStudentDeployForm.html' %}

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
</div>

{% endblock %}
