<!DOCTYPE html>

{% extends 'Module_TeamManagement/Student/studentBase.html' %}
{% load staticfiles %}

{% block title %}
    Student Page
{% endblock %}

{% block carouselContent %}


<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/Coding-Programming-Geoawesomeness.png' %}">
            <div class="carousel-caption">
                <h1 class="display-2">Cloud Learning Environment</h1>
                <h3>Singapore Management University</h3>
                <button type="button" class="btn btn-outline-light btn-lg">HELP</button>
                <button type="button" class="btn btn-primary btn-lg">Get started</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/getintodevops-banner.png' %}">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/title-thedevopsclinic.png' %}">
        </div>
    </div>
</div>

{% endblock %}
