{% extends 'Module_TeamManagement/Student/studentBase.html' %}

{% block title %}
    {{module}} Team Information
{% endblock %}

{% block studentTeams %}
<div class="content">
    <div class="container-fluid">
        {% if team != None %}
            <div class="row">
            {% for teammembers in team %}
                <div class="col-md-2">
                    <div class="card user">
                        <div class="card-body ">
                        <div class="cardsidebar card-user">
                            <div class="card-image">
                            </div>
                                <div class="author">
                                    <a href= {% url 'TMmod:noti_mgmt' %}>
                                        <img class="avatar border-gray" src="https://goo.gl/Lom4Jq" alt="...">
                                        <h5 class="title">{{teammembers.firstname}} {{teammembers.lastname}} </h5>
                                    </a>
                                    <p class="emaildescription">
                                        {{teammembers.email}}
                                    </p>
                                </div>
                            <hr>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}




      <div class="col-md-8">
          <div class="card ">
              <div class="card-header ">
                  <h4 class="card-title">Team Performance</h4>
                  <p class="card-category">24 Hours performance</p>
              </div>
              <div class="card-body ">
                  <div id="chartHours" class="ct-chart"></div>
              </div>
              <div class="card-footer ">
                  <div class="legend">
                      <i class="fa fa-circle text-info"></i> Open
                      <i class="fa fa-circle text-danger"></i> Click
                      <i class="fa fa-circle text-warning"></i> Click Second Time
                  </div>
                  <hr>
                  <div class="stats">
                      <i class="fa fa-history"></i> Updated 3 minutes ago
                  </div>
              </div>
          </div>
      </div>
      {% else %}

      <h1> No teams found </h1>
        {% endif %}

    </div>
</div>
<!-- {% if team_list == 'active' %}
    <div class="imp_message container">
      <p> <br> </p>
      <h1> My Team </h1>
    <table class="table table-striped table-bordered table-hover" id="studentdata">
      <thead>
          <tr>
            <th>Section no.</th>
            <th>Team no.</th>
            <th>Email</th>
            <th>First name</th>
          </tr>
      </thead>
      <tbody>
          {% for members in results %}
            <tr>
                <td>{{ section_number }}</td>
                <td>{{ team_number }}</td>
                <td>{{ members.email }}</td>
                <td>{{ members.firstname }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %} -->
{% endblock %}
</div>
