{% extends 'Module_TeamManagement/Student/studentBase.html' %}

{% block title %}
    My Team
{% endblock %}

{% block studentTeams %}

<!-- {% if teamList %} -->
    <div class="imp_message container">
      <p> <br> </p>
      <h1> My Team </h1>
    <table class="table table-striped table-bordered table-hover" id="studentdata">
      <thead>
          <tr>
            <th>Section no.</th>
            <th>Team no.</th>
            <th>Email</th>
            <th>First name</th>
          </tr>
      </thead>
      <tbody>
        {% for section in sections %}
            <tr>
                <td> {{ section.section_number }}</td>
                <td> {{ team.team_number }}</td>
                <td> {{ team.student.email}}</td>
                <td> {{ team.student.firstname }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
<!-- {% endif %} -->

{% endblock %}
