{% extends 'Module_TeamManagement/dashboardbase.html' %}

{% block title %}
    Student page
{% endblock %}


{% block sidenavBar %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'TMmod:home' %}">
        <i class="fas fa-chart-pie"></i>
        <p>Dashboard</p>
    </a>
</li>
<li>
    <a class="nav-link" href="{% url 'TMmod:sProfile' %}">
        <i class="fas fa-user-graduate"></i>
        <p>User Profile</p>
    </a>
</li>
<li>
    <a class="nav-link" href="{% url 'TMmod:sTeam' %}">
        <i class="fa fa-users"></i>
        <p>My Team</p>
    </a>
</li>
<li>
    <a class="nav-link" href="{% url 'TMmod:sStats' %}">
        <i class="fas fa-tachometer-alt"></i>
        <p>My Statistics</p>
    </a>
</li>
{% endblock %}
