{% extends 'Module_TeamManagement/dashboardbase.html' %}

{% block title %}
    Student page
{% endblock %}


{% block sidenavBar %}
<li>
    <a class="nav-link" href="{% url 'TMmod:sProfile' %}">
        <i class="fa fa-user-circle-o"></i>
        <p>User Profile</p>
    </a>
</li>
<li>
    <a class="nav-link" href="{% url 'TMmod:sTeam' %}">
        <i class="fa fa-users"></i>
        <p>My Team</p>
    </a>
</li>
<li>
    <a class="nav-link" href="{% url 'TMmod:sStats' %}">
        <i class="fa fa-tachometer"></i>
        <p>My Statistics</p>
    </a>
</li>
{% endblock %}
