{% load staticfiles %}
<link href="{% static 'css/trailhead.css' %}" rel="stylesheet" />
<script src="{% static 'js/trailhead.js' %}" charset="utf-8"></script>
<style type="text/css" id="slider-css"></style>
<div class="spe-cor">
    <div class="container">
        <div class="row">
            <div id="slider-1" class="carousel carousel-by-item slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <img class="d-block img-fluid" src="https://i.pinimg.com/originals/70/a3/b9/70a3b9d69dcb501c04a4030c20ded2a5.png" alt="First slide">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <img class="d-block img-fluid" src="https://i.pinimg.com/originals/1c/21/65/1c21653a5432905365c0b1930748dc27.png" alt="First slide">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <img class="d-block img-fluid" src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_apex_triggers.png" alt="First slide">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <img class="d-block img-fluid" src="http://res.cloudinary.com/hzxejch6p/image/upload/v1479760233/trailhead_module_lightning_experience_basics_a0rcrt.png" alt="Second slide">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <img class="d-block img-fluid" src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_wave_analytics_basics.png" alt="Third slide">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <img class="d-block img-fluid" src="https://developer.salesforce.com/resource/images/trailhead/badges/modules/trailhead_module_lightning_app_customization_lite.png" alt="Third slide">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slider-1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider-1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
